.value-wrapper{
    /* border: 2px solid hotpink; */
}

.value-container{
    /* border: 2px solid yellow; */
}

.value-left{
    /* border: 2px solid red; */
}
.value-container .image-container{
    border: 8px solid rgb(232 232 232 /93%);
}


.value-container>div{
    flex: 1;
}

.value-right{
    /* border: 2px solid yellowgreen; */
    gap: 0.6rem;
}

.value-right > span{
    text-transform: capitalize;
}

.accordian{
    /* border: 2px solid yellow; */
    margin-top: 2rem;
    border: none;
}

.value-wrapper .accordian-item{
    background: white;
    border: 0.8px solid black;
    border-radius: 8px;
    overflow: hidden;
    margin-bottom: 20px;
    width: 100%;
    /* border: 0.5px solid black; */
}

 .value-wrapper .accordian-item .expanded{
    box-shadow: var(--shadow);
    border-radius: 6px;
}

.accordian-button{
    background:white;
    width: 100%;
    padding: 1rem;
    justify-content: space-between;
    cursor: pointer;
}

.icon{
    background: #eeeeff;
    padding: 13px;
    border-radius: 5px;
}

.icon svg{
    fill: var(--blue);
}

.accordian-button .primaryText{
    font-size: 1.3rem;
}

